@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');
:root {
    --font-family: 'Poppins', sans-serif;
    --font-base-size: 15px;
    --font-mobile-size: 14px;
    --color-heading: #FCFCFC;
    --color-paragraph: #b4fbd0;
    --color-border: #383838;
    --color-bg: #121212;
    --color-surface-1: #1e1e1f;
    --color-surface-2: #2a2a2b;
    --color-surface-3: #ff8c2d;
    --color-accent: #FFDB6E;
    --color-error: #B84C4C;
    --color-gradient: linear-gradient(137.84deg, #FFDB6E 26.31%, #FFBC5E 93.75%);
    --color-gradient-soft: linear-gradient(135deg, rgba(255, 218, 109, 0.0375) 0%, rgba(255, 189, 94, 0) 100%), #1E1E1F;
    --color-gradient-text: linear-gradient(90deg, #FFDB6E, #FFBC5E);
    --color-gradient-border: linear-gradient(155deg, #FFDA6D 0%, rgba(255, 191, 96, 0) 50%);
    --color-gradient-border-gray: linear-gradient(135deg, #e97222 0%, rgba(78, 78, 78, 0) 48.44%);
    --color-gradient-gray: linear-gradient(137.84deg, #3F3F40 2.69%, #303030 93.75%);
    --color-gradient-icon: linear-gradient(135deg, rgba(255, 218, 109, 0.25) 0%, rgba(255, 189, 94, 0) 59.86%), #202021;
    --color-btn: linear-gradient(135deg, rgba(45, 45, 46, 0.25) 0%, rgba(27, 27, 28, 0) 100%), #202021;
    --box-shadow-12: -4px 4px 12px rgba(0, 0, 0, 0.25);
    --box-shadow-24: -4px 8px 24px rgba(0, 0, 0, 0.25);
    --box-shadow-30: 0px 16px 30px rgba(0, 0, 0, 0.25);
    --box-shadow-40: 0px 16px 40px rgba(0, 0, 0, 0.25);
    --box-shadow-50: 0px 25px 50px rgba(0, 0, 0, 0.15);
    --box-shadow-80: 0px 24px 80px rgba(0, 0, 0, 0.7);
    --radius-32: 32px;
    --radius-20: 20px;
    --radius-18: 18px;
    --radius-16: 16px;
    --radius-14: 14px;
    --radius-12: 12px;
    --radius-8: 8px;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
      
  }
/* html {
box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
} */

[class *= col]{
    /*background-color: aqua;*/
    /* padding: 0; */
    margin: 0;
    
    border-radius: var(--radius-20);
    
    


}
[class *= row]{
    /* height:max-content; */
    display: flex;
    
    
    

}
[class *= container]{
    /* border-radius: var(--radius-12); */
    width: 100%;
    /* height: fit-content; */
    margin-top: 2vh;
    padding-left: 4vh;
}
[class *= box]{
    display: inline-block;
}
body{
    color: var(--bs-light);
    
    
}
.row{
    /* --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0; */
    display: flex;
    /* flex-wrap: wrap; */
    

    /* margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2); */

}
.contenedor{
    justify-content: space-evenly;
    /* margin: 8vh 8vh 8vh 0vh; */
    padding: 0;
    /* background-color: var(--bs-orange); */
    
}
.row-grid{
    
    justify-content: flex-start;

    
}

#aside{ 
    display: grid;
    border: 0;
    background-color: var(--bs-orange);
    /* padding: 2vh; */
    
    /* height: fit-content; */
    margin-bottom: 2vh;
    right: 6vh;
    
    
}
.aside_control{
    justify-self: start;
    width: 80%;
    object-fit: contain;
}
.aside_photo{
    /* display: flex; */
    /* flex-flow: row; */
    /* float:left; */
    /* width: fit-content; */
    /* height: fit-content;  */
    /* margin: 0;*/
    /* padding:10px; */
    align-items: flex-start;
    font-size: var(--font-mobile-size);
    object-fit: contain;
   
    position: relative;
    
    
    padding-bottom: 4vh;
    justify-self: center;
    align-self: center;
    
    

    
}
.aside_photo figure{
    display: flex;
    justify-content: start;
    margin: 0;
}
.aside_photo div{
    /* margin: 2vh; */
    right: 2vh;
    /* width: 10%; */
    /* height: 5%; */
    font-size: 10px;
    width: fit-content;
    
}
.aside_photo p{
    /* margin: 2vh; */
    height: 10px ;
    display: grid;
    position: sticky;
}
aside img{
    display: flex;
    width: 32vh;
    height: auto;
    border-radius: 40%;
    justify-content: center;
    box-shadow: var(--box-shadow-24);
    border: 1px solid var(--bs-dark);
    margin: 0 0vh 4vh 8vh;
    object-fit: cover;
}
.mail, .tel, .location, .job{
    object-fit: contain;
    font-size: x-small;
    color: var(--color-accent);
    margin: 0;
    padding: 0;
}
.personal_info{
    width: 100%;
}


.separation{
    display: grid;
    border: 1px solid var(--bs-dark);
    box-shadow: var(--box-shadow-12);
    height: 2px;
    width: 95%;
    color: var(--bs-dark);
    justify-self: center;
    margin: 0vh 0vh 2vh 2vh;
}

.showContent{
    cursor: pointer;
}
.btn{
    display: flex;
    justify-self: end;
    position:static;
    /* right: 0px; */

    background: var(--color-gradient-border-gray);
    border-radius: var(--radius-14);
    
    border: 0;
    
    color: var(--bs-white);
    
    font-weight: 400;
    
    
    width: fit-content;
    z-index: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}
.btn--small{
    box-shadow: var(--box-shadow-12);
    font-size: 0.75rem;
}


.details-info{
    display:flex;
    
    width: fit-content;
    flex-wrap: wrap;
    float: none;
    margin: 0 0 2vh 0;
    padding: 0;
    
    
}
.details-info li{
    display: grid;
    grid-template-columns: 1fr auto;
    
}
.details-info li span{
    margin: 0;
    padding: 0;
    
    
}
.nav-container{
    position: relative;
    /* box-sizing: content-box; */
    margin-right: 13px;
    /* padding: 5px; */
    justify-content: end;
    background-color: var(--bs-orange);
    border: 10px;
    width: fit-content;
    box-shadow: var(--box-shadow-12);
    background: var(--color-gradient-border-gray);
    border-radius: 0 var(--radius-14) 0 var(--radius-14);
    
}
.navbar{
    position: absolute;
    
    top: -3vh;
    right: 0vh;
    /*display: flex; */
    font-weight: bolder;
    align-self: flex-end;
    border-radius: var(--radius-24);
    /* width: fit-content; */
}
.nav__item a{
    /* position: relative; */
    padding: 20px;
    text-decoration: none;
    /* color: black; */
    align-items: start;
    color: var(--bs-white);
}
.nav__item a:hover{
    color: var(--bs-danger);
    cursor: pointer;
}
.fi{
    margin: 10px;
}

#main-info{
    position: relative;
    background-color: var(--bs-orange);
    top: 10%;
    padding-top: 2vh;
    display: grid;
    
}
.info-relleno{
    background-color: var(--bs-red);
    margin: 20px;
    border-radius: var(--radius-12)
}
.info-relleno--pad{
    margin: 0;
    padding: 0;
}

.box-outer{
    background-color: var(--bs-orange);
    border: 1px solid var(--color-border);
    border-radius: var(--radius-20);
    /* -webkit-box-shadow: var(--box-shadow-24); */
    /* box-shadow: var(--box-shadow-24); */
    padding: 1rem;
    position: relative;
}
.box-inner{
    border-radius: var(--radius-16);
    /* box-shadow: var(--box-shadow-24); */
    padding: 1rem;
    margin-bottom: 1rem;
  }

.case-item{
    display: flex;
    /* height: calc(100% - 1.25rem);
    padding-bottom: 1.25rem; */
    position: relative;
  }

  .box::before {
    content: '';
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    /* box-shadow: var(--box-shadow-24); */
    border-radius: var(--radius-12);
    z-index: -1;
  }
.progress_container{
    border: 1px solid rgb(253, 252, 252);
    border-radius: var(--radius-8);
}

/* .gallery-grid{
    /* display: grid;
    grid-template-columns: auto auto auto; }*/
 
.gallery-grid__item{
    display: flex;
    float: left;
    padding: 3vh;
    margin: 3vh;
}
.row-container{
    /* display: grid;
    grid-column: 2; */
    /* top:0; */
    padding-top: 0;
    margin-top: 0;
}
/*.aside{
    background-color: black;
    color: blue;
}*/

@media (max-width:768px){

    .details-info{
        display:none;
    }

    .aside_photo{
        display: grid;
        grid-template-columns: 24vh 36vh;
        grid-auto-rows: min-content;
        justify-content: space-around;
        align-items: center;
        padding: -4vh;
        
        

    }
    .aside_photo div{
        margin: 0;
        
    }
    /* .nav-container{
        position: fixed;
        top: auto;
        bottom: 0;
        left: 0;
        z-index: 1112;
        width: 80%;
        background-color: var(--bs-orange);
        background-blend-mode: soft-light;
        justify-self: center;


    } */

    
}
@media (min-width:767px){

    [class *= conteiner]{
        /* padding-left: 20vh; */
        left: 20vh;
    }
    body{
        padding-left: 18vh;
    }
    .contenedor{
        margin: 2vh 0vh 2vh 8vh;
    }
    #main-info{
        margin-left: 20vh;
    }

    #aside{
    position: fixed;
    left: 4vh;
    
   
    }
    .details-info{  
        display: flex !important;
    }

    #contactButton{
        display:none;
    }

    }