[class *= col]{
    background-color: aqua;
    padding: 1rem;
    border-radius: 5px;
    top: 2rem;

}
[class *= row]{
    height:max-content;

}
[class *= container]{
    display: grid;
    border-radius: 5px;
    /* padding: 1rem; */
    width: 100%;
}

#aside{ 
    align-items: center;
    background-color: red;
    justify-content: center;
    
}

aside img{
    width: 3rem;
    height: 100%;
}

#main-info{
    position: relative;
    background-color: red;
    top: 10%;
    left: %;
}

/*.aside{
    background-color: black;
    color: blue;
}*/